Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore

@tolgadmp
receporkuncevik
/
personalWallet
Private
1
00
Code
Issues
Pull requests
Actions
Projects
Security
Insights
personalWallet/src/main/resources/templates/login/login.html
@receporkuncevik
receporkuncevik Login - Register - Eklendi.
…
Latest commit 0fdddf9 on 5 May
History
1 contributor
97 lines (76 sloc)  3.3 KB

<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Personal Wallet - Login</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../static/img/favicon.png" th:href="@{/img/favicon.png}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">


  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="../../static/plugins/fontawesome/css/fontawesome.min.css"
        th:href="@{/plugins/fontawesome/css/fontawesome.min.css}">
  <link rel="stylesheet" href="../../static/plugins/fontawesome/css/all.min.css"
        th:href="@{/plugins/fontawesome/css/all.min.css}">

  <!-- Main CSS -->
  <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">

</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">

      <div class="loginbox">

        <div class="login-right">
          <div class="login-right-wrap">
            <h1>Giriş Yap</h1>
            <p class="account-subtitle">Hemen Giriş Yap</p>

            <form th:action="@{/login}" method="post">
              <div class="form-group">
                <label class="form-control-label">Email</label>
                <input type="text" name="username" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-control-label">Parola</label>
                <div class="pass-group">
                  <input type="password" name="password" class="form-control">
                </div>
              </div>
              <div class="form-group">
              </div>
              <button class="btn btn-lg btn-block btn-primary" type="submit">Giriş Yap</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="../../static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>

<!-- Bootstrap Core JS -->
<script src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Feather Icon JS -->
<script src="../../static/js/feather.min.js" th:src="@{/js/feather.min.js}"></script>

<!-- Slimscroll JS -->
<script src="../../static/plugins/slimscroll/jquery.slimscroll.min.js"
        th:src="@{/plugins/slimscroll/jquery.slimscroll.min.js}"></script>


<!-- Custom JS -->
<script src="../../static/js/script.js" th:src="@{/js/script.js}"></script>

</body>


</html>
